<h1 class="text-xl">Flight Booker</h1>

<%= form_with(url: flights_path, method: :get, class: 'flex flex-col gap-4') do %>
  
  <div>
    <label for="departure_code">From:</label>
    <%= select_tag(:departure_code, options_for_select(@flight_codes)) %>
  </div>

  <div>
    <label for="arrival_code">To:</label>
    <%= select_tag(:arrival_code, options_for_select(@flight_codes)) %>
  </div>

  <div>
    <label for="num_tickets">Passengers:</label>
    <%= select_tag(:num_tickets, options_for_select(1..4)) %>
  </div>

  <div>
    <label for="date">Date:</label>
    <%= select_tag(:date, options_for_select(@flight_dates)) %>
  </div>

  <div>
    <button type="submit" class="py-2 px-3 bg-blue-400 rounded-xl text-white text-lg">Submit</button>
    <%= button_to "Clear", flights_path, class: 'py-2 px-3 bg-red-400 rounded-xl text-white text-lg', method: :get %>
  </div>
<% end %>

<% if @available_flights  %>
  <ul>
    <% @available_flights.each do |flight| %>
      <li><%= flight.departure_airport.code %> - <%= flight.arrival_airport.code %> : <%= flight.departure_datetime.strftime("%m/%d/%Y") %></li>
    <% end %>
  </ul>
<% end %>

